<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page navigation creator</title>

</head>
<body>

<div>

    <Button id="generate_new_site_button">
        Click me to generate new site
    </Button>


</div>

<div>

    <ul class="stepper horizontal">

    </ul>

</div>


</body>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

    $("#generate_new_site_button").click(function () {
        window.location.href = "create_new_site ";
    });

</script>

</html>