      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
	  position:absolute;
      }



#pb_head {
text-align:center;
border: 1px solid #333;
padding: 5px;
background: rgba(40, 40, 40, 0.85) none repeat scroll 0% 0%;
border-top-left-radius:5px;
border-top-right-radius:5px;
color: #fff;

font-family: "Lucida Sans",Arial,sans-serif;

}
#pb_toggle {
text-align:center;
border: 1px solid #333;
padding: 5px;
background: rgba(40, 40, 40, 0.85) none repeat scroll 0% 0%;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
color: #fff;
margin-top:5px;
font-family: "Lucida Sans",Arial,sans-serif;

}
#pb_list {
margin-top:5px;
overflow-y:scroll;
overflow-x:hidden;
text-align:center;
border: 1px solid #333;
padding: 5px;
background: rgba(40, 40, 40, 0.85) none repeat scroll 0% 0%;

color: #fff;

height: 400px;
max-height: 400px;
}
#pb_item{
text-align:center;
color:#fff;
padding:5px;
margin:1px;
background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
}
#pb_item_data{
text-align:left;
color:#999;
padding:2px;
margin:1px;
background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
font: 100 13px/13px "Lucida Sans",Arial,sans-serif;
}
#pb_item_data:hover{
/*
border: 1px solid #fff;
cursor: pointer;
*/
color:#000;
background-color:#ccc;
cursor: pointer;

}
#pb_item_clicked{
text-align:left;
color:#000;
background-color:#ccc;
cursor: pointer;
padding:2px;
font: 100 13px/13px "Lucida Sans",Arial,sans-serif;
margin:1px;
}
#pb {
margin-top:1%;
margin-left:1%;
position: absolute;
z-index: 1;
width: 21%;

}
#myButton {
width:100%;
}
img {
   padding:1px;
   border:1px solid #021a40;
}